.restaurant-item {
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 4px;
  margin-bottom: 20px;
}

.restaurant-item img {
  max-height: 180px;
  width: 100%;
}

.restaurant-item .caption {
  padding: 10px;
}

.nav-pills-center {
   text-align: center;
   display: table;
   margin: 0 auto;
 }

 .divbk {
   width:1289px;
   height:1280px;
   background-image: url("http://img.lanrentuku.com/img/allimg/1612/14822880491717.jpg");
   background-position:0px 0px;
   background-repeat:no-repeat;
   background-size: cover;
   margin: -20px auto;

  }

 .divwh {
    width:400px;
    height:400px;
    margin: -1280px 0px;

  }

  .my-restaurant {
   display: inline-block;
   text-align: center;
   padding: 7px 7px 0 7px;
 }

 .my-restaurant > div {
   height: 60px;
 }

 .my-restaurant img {
   max-height: 100%;
 }

 .panel a:hover .my-restaurant {
   background-color: #FFDC35;
 }

 .alingw{
   text-align:center
 }

 .user_img{
   width:200px;
   height:200px;
 }

 .rankimguse{
   width:120px;
   height:100px;
   margin: 0 0 0px 20px;
   float:left
 }
